<fieldset>
  <legend>Tipo de pessoa</legend>
  <label *ngFor="let auxTipoPessoa of listaTiposPessoa">
    <input 
      type="radio" 
      [value]="auxTipoPessoa.codigo"
      [(ngModel)]="tipoPessoa"
      (change)="alterarValor()" />
    {{auxTipoPessoa.descricao}}
  </label>


  <!--
  <label><input type="radio" name="rdoTipoPessoa" [value]="1" [(ngModel)]="tipoPessoa" (change)="alterarValor()" />Física</label>
  <label><input type="radio" name="rdoTipoPessoa" [value]="2" [(ngModel)]="tipoPessoa" (change)="alterarValor()" />Jurídica</label>
  <label><input type="radio" name="rdoTipoPessoa" [value]="3" [(ngModel)]="tipoPessoa" (change)="alterarValor()" />Outros</label>
  -->
</fieldset>
{{tipoPessoa}}
